version: '3.3'

services:
  db:
    build: ./db
    container_name: postgres
    ports:
      - "5431:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=P@ssw0rd
    volumes:
      - ./data:/data
  server:
    build: .
    ports:
      - "8000:3000"
